*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol, li {
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body {
    height: 100vh;
    background-color: #000;
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    color: #fff;

}
h1{
    display: grid;
    height: 100%;
    place-items: center;
    font-size: 4rem;
}
.galeria {
    height: 100%;
    width: 100%;
    background-color: beige;
    display: grid;
    grid-template-areas:   
      "f1 f1 f2 f2 f3"
      "f1 f1 f4 f5 f3"
      "f1 f1 f6 f8 f8"
      "f1 f1 f7 f8 f8";
}
.galeria .foto{
    background-color: lightseagreen;
    border: 2px solid #fff;
}

.galeria .foto:nth-of-type(1){grid-area: f1}
.galeria .foto:nth-of-type(2){grid-area: f2}
.galeria .foto:nth-of-type(3){grid-area: f3}
.galeria .foto:nth-of-type(4){grid-area: f4}
.galeria .foto:nth-of-type(5){grid-area: f5}
.galeria .foto:nth-of-type(6){grid-area: f6}
.galeria .foto:nth-of-type(7){grid-area: f7}
.galeria .foto:nth-of-type(8){grid-area: f8}

img{
    height: 100%;
    width: 100%;
}
footer{
    display: grid;
    place-content: center;
}